<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
        <img src="https://cdn.dribbble.com/users/3050354/screenshots/14646894/media/1f31948afd5401c44d4bae934f07641a.gif" alt="no img"
        style="width:700px;height:550px; padding-bottom: 35px;padding-left: 340px;">
    <hr>
  <!--  <div>
        <div class="div1" style="float: left;background-color: blue;height: 500px;">left</div>
        <div class="div2" style="float: right;background-color: aqua;height: 700px;width:100px">right</div>
        <div class="div3" style="float: bottom; background-color: mediumvioletred;">end</div>
    </div>
    -->
</body>
</html>
